# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
link-workspace-packages=true


# npm registry
@bms:registry=https://gitlab.bms-lsa.de/api/v4/projects/1/packages/npm/
//gitlab.bms-lsa.de/api/v4/projects/1/packages/npm/:_authToken="${NPM_TOKEN}"
